// Custom.scss
// https://getbootstrap.com/docs/5.0/customize/sass/

// 1. Use functions first (so you can manipulate colors, SVGs, calc, etc)
@use "bootstrap/scss/functions" as *;
@use "bootstrap/scss/variables" as *;
@use "bootstrap/scss/maps" as *;
@use "bootstrap/scss/mixins" as *;
@use "bootstrap/scss/utilities" as *;

// 2. Include any default variable overrides here

$primary: #365b6d;
$secondary: #f7f7f7;
$light: #ffffff;

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
$font-family-sans-serif: -apple-system, "Barlow", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$card-border-radius: 15px;

// 3. Use remainder of required Bootstrap stylesheets
@use "bootstrap/scss/root" as *;
@use "bootstrap/scss/reboot" as *;
@use "bootstrap/scss/type" as *;
@use "bootstrap/scss/images" as *;
@use "bootstrap/scss/containers" as *;
@use "bootstrap/scss/grid" as *;
@use "bootstrap/scss/tables" as *;
@use "bootstrap/scss/forms" as *;
@use "bootstrap/scss/buttons" as *;
@use "bootstrap/scss/transitions" as *;
@use "bootstrap/scss/dropdown" as *;
@use "bootstrap/scss/button-group" as *;
@use "bootstrap/scss/nav" as *;
@use "bootstrap/scss/navbar" as *;
@use "bootstrap/scss/card" as *;
@use "bootstrap/scss/accordion" as *;
@use "bootstrap/scss/breadcrumb" as *;
@use "bootstrap/scss/pagination" as *;
@use "bootstrap/scss/badge" as *;
@use "bootstrap/scss/alert" as *;
@use "bootstrap/scss/progress" as *;
@use "bootstrap/scss/list-group" as *;
@use "bootstrap/scss/close" as *;
@use "bootstrap/scss/toasts" as *;
@use "bootstrap/scss/modal" as *;
@use "bootstrap/scss/tooltip" as *;
@use "bootstrap/scss/popover" as *;
@use "bootstrap/scss/carousel" as *;
@use "bootstrap/scss/spinners" as *;
@use "bootstrap/scss/offcanvas" as *;
@use "bootstrap/scss/helpers" as *;
@use "bootstrap/scss/utilities/api" as *;

// 5. Add additional custom code here
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.icon-style {
  font-family: $font-family-sans-serif;
  color: $primary;
}

.card-work {
  transition: box-shadow 0.3s;
}

.card-work:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.card-image {
  transition: all 0.3s;
  border-radius: $card-border-radius;
  box-shadow: 1rem 1rem $primary;
}

.card-image:hover {
  transform: translate(-0.5rem, -0.5rem);
  box-shadow: 2rem 2rem $primary;
}
